<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
<!-- 
  

  
  -->
<variable name="logDirectory" value="${basedir}/log" />

  <targets>

    <target
      encoding="UTF-8"
      name="file-all"
      xsi:type="File"
      fileName="${var:logDirectory}/debug.txt"
      layout="${longdate}|${level:uppercase=true}|${logger}|${message}"
      archiveFileName="${var:logDirectory}/archives/debug.{#}.txt"
      archiveEvery="Day"
      archiveNumbering="Rolling"
      maxArchiveFiles="120" />

  </targets>
  <rules>

    <logger name="*" writeTo="file-all" />

  </rules>
</nlog>