source https://www.nuget.org/api/v2/

nuget doboz4net framework: >= net471
nuget lz4net framework: >= net471
nuget ManyConsole >= 1.0.0.4 restriction: >= net471
nuget Mono.Options >= 5.3.0 restriction: >= net471
nuget Mono.Cecil >= 0.10.0 restriction: >= net471
nuget NDesk.Options framework: >= net471
nuget NLog >= 4.5.7 restriction: >= net471

nuget FAKE
nuget NuGet.CommandLine